
.ck-editor__editable {
  min-height: 200px;

}
.ck-content > blockquote,
.ck-content > dl,
.ck-content > dd,
.ck-content > h1,
.ck-content > h2,
.ck-content > h3,
.ck-content > h4,
.ck-content > h5,
.ck-content > h6,
.ck-content > hr,
.ck-content > figure,
.ck-content > p,
.ck-content > pre {
  margin: revert;
}

.ck-content > ol,
.ck-content > ul {
  list-style: revert;
  margin: revert;
  padding: revert;
}

.ck-content > table {
  border-collapse: revert;
}

.ck-content > figure   {
  @apply h-72 w-72 !important 
}

.ck-content > h1,
.ck-content > h2,
.ck-content > h3,
.ck-content > h4,
.ck-content > h5,
.ck-content > h6 {
  font-size: revert;
  font-weight: revert;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
.gradient-transition{
    /* background-image: linear-gradient(75deg, #FDC830, #F37335, #f12711, #f5af19);  */
    background-size: 200% ;
  }
  .table :where(th,td) {
    white-space: normal;
  }
  @keyframes transformIn {
    from {
      transform: translate(100%);
      opacity: 0;
    }
    to {
      transform: translate(0);
      opacity: 1;
    }
  }
  .search-input.active-block {
    display: block;
    transform: translateX(0);
    animation: normal transformIn 0.4s;
  }

  .error:nth-child(3) {
    @apply text-rose-600 alert alert-error text-sm rounded-lg py-2
  }