@tailwind base;
@tailwind components;
@tailwind utilities;
.gradient-transition{
    /* background-image: linear-gradient(75deg, #FDC830, #F37335, #f12711, #f5af19);  */
    background-size: 200% ;
  }
  .table :where(th,td) {
    white-space: normal;
  }
  @keyframes transformIn {
    from {
      transform: translate(100%);
      opacity: 0;
    }
    to {
      transform: translate(0);
      opacity: 1;
    }
  }
  .search-input.active-block {
    display: block;
    transform: translateX(0);
    animation: normal transformIn 0.4s;
  }

  .error:nth-child(3) {
    @apply text-rose-600 alert alert-error text-sm rounded-lg py-2
  }

